doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Red de Bicicletas
    // Font Awesome Icons
    link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
    // Plugin CSS
    link(href='/vendor/magnific-popup/magnific-popup.css' rel='stylesheet')
    // Theme CSS - Includes Bootstrap
    link(href='/stylesheets/creative.min.css' rel='stylesheet')
    //Mapa Leaflet
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')

    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')


    
  body
    block content
